.da-slide{
	position: absolute;
}
.da-slide .da-img1,
.da-slide .da-img2,
.da-slide .da-img3{
	position: absolute;
	opacity: 1;
	left: 10%;
}
.da-slide .da-img3{
	left: 60%;
}
.da-dots,
.da-arrows{
	display: none;
}



.da-slide .da-img4,
.da-slide .da-img5,
.da-slide .da-img6{
	position: static;
	opacity: 1;
	left: 10%;
}
.da-slide .da-img6{
	left: 60%;
}
.da-dots,
.da-arrows{
	display: none;
}



.da-slide .da-img7,
.da-slide .da-img8,
.da-slide .da-img9{
	position: absolute;
	opacity: 1;
	left: 10%;
}
.da-slide .da-img9{
	left: 60%;
}
.da-dots,
.da-arrows{
	display: none;
}



.da-slide .da-img07,
.da-slide .da-img08,
.da-slide .da-img09{
	position: absolute;
	opacity: 1;
	left: 10%;
}
.da-slide .da-img09{
	left: 60%;
}
.da-dots,
.da-arrows{
	display: none;
}


.da-slide .da-img10,
.da-slide .da-img11,
.da-slide .da-img12{
	position: absolute;
	opacity: 1;
	left: 10%;
}
.da-slide .da-img12{
	left: 60%;
}
.da-dots,
.da-arrows{
	display: none;
}



.da-slide .da-img13,
.da-slide .da-img14,
.da-slide .da-img15,
.da-slide .da-img16,
.da-slide .da-img17,
.da-slide .da-img18,
.da-slide .da-img19,
.da-slide .da-img20,
.da-slide .da-img21,
.da-slide .da-img22,
.da-slide .da-img23,
.da-slide .da-img24,
.da-slide .da-img25,
.da-slide .da-img26,
.da-slide .da-img27,
.da-slide .da-img28,
.da-slide .da-img29,
.da-slide .da-img30,
.da-slide .da-img31,
.da-slide .da-img32,
.da-slide .da-img33,
.da-slide .da-img34,
.da-slide .da-img35,
.da-slide .da-img35,
.da-slide .da-img36,
.da-slide .da-img37,
.da-slide .da-img38
{
	position: absolute;
	opacity: 1;
	left: 10%;
}
.da-slide .da-img38{
	left: 0%;
}
.da-dots,
.da-arrows{
	display: none;
}



.da-slide .da-img39,
.da-slide .da-img40,
.da-slide .da-img41,
.da-slide .da-img42,
.da-slide .da-img43,
.da-slide .da-img44,
.da-slide .da-img45,
.da-slide .da-img46,
.da-slide .da-img47,
.da-slide .da-img48,
.da-slide .da-img49,
.da-slide .da-img50,
.da-slide .da-img51,
.da-slide .da-img52,
.da-slide .da-img53,
.da-slide .da-img54,
.da-slide .da-img55,
.da-slide .da-img56,
.da-slide .da-img57,
.da-slide .da-img58
{
	position: absolute;
	opacity: 1;
	left: 10%;
}
.da-slide .da-img58{
	left: 60%;
}
.da-dots,
.da-arrows{
	display: none;
}



.da-slide .da-img59,
.da-slide .da-img60,
.da-slide .da-img61,
.da-slide .da-img62,
.da-slide .da-img63,
.da-slide .da-img64,
.da-slide .da-img65,
.da-slide .da-img66
{
	position: absolute;
	opacity: 1;
	left: 10%;
}
.da-slide .da-img66{
	left: 60%;
}
.da-dots,
.da-arrows{
	display: none;
}


.da-slide .da-img67,
.da-slide .da-img68,
.da-slide .da-img69,
.da-slide .da-img70,
.da-slide .da-img71,
.da-slide .da-img72,
.da-slide .da-img73,
.da-slide .da-img74,
.da-slide .da-img75,
.da-slide .da-img76,
.da-slide .da-img77,
.da-slide .da-img78,
.da-slide .da-img79,
.da-slide .da-img80,
.da-slide .da-img81,
.da-slide .da-img82
{
	position: absolute;
	opacity: 1;
	left: 10%;
}
.da-slide .da-img82{
	left: 60%;
}
.da-dots,
.da-arrows{
	display: none;
}

.da-slide .da-img83,
.da-slide .da-img84,
.da-slide .da-img85,
.da-slide .da-img86,
.da-slide .da-img87,
.da-slide .da-img88
{
	position: absolute;
	opacity: 1;
	left: 10%;
}
.da-slide .da-img88{
	left: 60%;
}
.da-dots,
.da-arrows{
	display: none;
}



